<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">TypeFast</a>
        </li>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/play">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/highscorepage">High Scores</a>
          </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
      </ul>
    </nav>
    <div>
      Welcome to your profile page <%= user.username %>!
    </div>
    <canvas id="myChart" style="display: block; width: 97%"></canvas>
    <canvas id="myChart2" style="display: block; width: 97%"></canvas>
    <script>
      let userID = "<%= user.id %>";
      let userObject = {
        user_id: userID
      };

      let correctWords = $.ajax({
        url: "/correctresults",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(userObject),
        success: function(response) {
          rounds = new Array(response.length)
          
          var ctx = document.getElementById("myChart").getContext("2d");
          var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: "bar",

            // The data for our dataset
            data: {
              labels: rounds,
              datasets: [
                {
                  label: "Your scores!",
                  backgroundColor: "rgba(102, 153, 255, 0.9)",
                  borderColor: "rgbar(0,0,0, 0.9)",
                  data: response
                }
              ]
            },

            // Configuration options go here
            options: {
              responsive: false
            }
          });
        }
        })
                   
      let incorrectWords = $.ajax({
        url: "/incorrectresults",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(userObject),
        //data: userID,
        success: function(response) {
          //document.getElementById("result").innerHTML = response
          rounds = new Array(response.length)
          
          var ctx2 = document.getElementById("myChart2").getContext("2d");
          var chart2 = new Chart(ctx2, {
            // The type of chart we want to create
            type: "bar",

            // The data for our dataset
            data: {
              labels: rounds,
              datasets: [
                {
                  label: "Your incorrect words!",
                  backgroundColor: "rgb(255, 187, 153)",
                  borderColor: "rgb(0, 0, 0)",
                  data: response
                }
              ]
            },

            // Configuration options go here
            options: {
              responsive: false
            }
          });
        }
      });
    </script>
    <div id="result"></div>
  </body>
</html>
